*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
  }

  .hero{
    background-image: url('./assets/images\ \(1\)\ \(24\).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Add this to your CSS file */


  @media print {
    body * {
      visibility: hidden; /* Hide everything */
    }
    #receipt-content, #receipt-content * {
      visibility: visible; /* Show the receipt content */
    }
    #receipt-content {
      @media print {
        body * {
          visibility: hidden; /* Hide everything */
        }
        #receipt-content, #receipt-content * {
          visibility: visible; /* Show the receipt content */
        }
        #receipt-content {
          /*position: absolute;
          top: 0;
          left: 0;*/
        }
      }
  
    }
  }
  